# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head(15)
#0
#15
#39,170
#$24,649,428.00
#78.985371
#81.87784
#74.980853
#85.805463
#80.431606

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [3]:
school_data_complete.tail(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [4]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [5]:
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [6]:
total_students = len(school_data_complete["student_name"])
total_students

39170

In [11]:
budget_per_school = school_data_complete["budget"].unique()
budget_per_school
budget_sum = budget_per_school.sum()
budget_sum

24649428

## School Summary

In [12]:
#math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [13]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [14]:
average_passing_rate = (average_math_score + average_reading_score)/2
average_passing_rate

80.43160582078121

In [18]:
#math score 7 or greater
math_score_70_higher = school_data_complete.loc[school_data_complete["math_score"] >= 70]
print(math_score_70_higher.head(15))

number_students_70_higher = len(math_score_70_higher)
number_students_70_higher

    Student ID       student_name gender grade        school_name  \
0            0       Paul Bradley      M   9th  Huang High School
4            4         Bonnie Ray      F   9th  Huang High School
5            5      Bryan Miranda      M   9th  Huang High School
6            6      Sheena Carter      F  11th  Huang High School
8            8       Michael Roth      M  10th  Huang High School
9            9     Matthew Greene      M  10th  Huang High School
10          10   Andrew Alexander      M  10th  Huang High School
11          11      Daniel Cooper      M  10th  Huang High School
12          12    Brittney Walker      F   9th  Huang High School
13          13       William Long      M   9th  Huang High School
15          15  Dr. Jordan Carson      M  11th  Huang High School
17          17  Kimberly Santiago      F   9th  Huang High School
19          19       Brandi Lyons      F   9th  Huang High School
20          20         Lisa Davis      F  10th  Huang High School
21          21      Kristen Lopez      F  10th  Huang High School

    reading_score  math_score  School ID      type  size   budget
0              66          79          0  District  2917  1910635
4              97          84          0  District  2917  1910635
5              94          94          0  District  2917  1910635
6              82          80          0  District  2917  1910635
8              95          87          0  District  2917  1910635
9              96          84          0  District  2917  1910635
10             90          70          0  District  2917  1910635
11             78          77          0  District  2917  1910635
12             64          79          0  District  2917  1910635
13             71          79          0  District  2917  1910635
15             94          88          0  District  2917  1910635
17             74          75          0  District  2917  1910635
19             89          80          0  District  2917  1910635
20             91          89          0  District  2917  1910635
21             90          77          0  District  2917  1910635

29370

In [19]:
#percentage
percentage_passed_math = (number_students_70_higher / total_students)*100
percentage_passed_math

74.9808526933878

In [20]:
reading_score_70_higher = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
print(reading_score_70_higher.head(15))

number_students_reading_70_higher = len(reading_score_70_higher)
number_students_reading_70_higher

    Student ID       student_name gender grade        school_name  \
1            1       Victor Smith      M  12th  Huang High School
2            2    Kevin Rodriguez      M  12th  Huang High School
4            4         Bonnie Ray      F   9th  Huang High School
5            5      Bryan Miranda      M   9th  Huang High School
6            6      Sheena Carter      F  11th  Huang High School
7            7       Nicole Baker      F  12th  Huang High School
8            8       Michael Roth      M  10th  Huang High School
9            9     Matthew Greene      M  10th  Huang High School
10          10   Andrew Alexander      M  10th  Huang High School
11          11      Daniel Cooper      M  10th  Huang High School
13          13       William Long      M   9th  Huang High School
14          14       Tammy Hebert      F  10th  Huang High School
15          15  Dr. Jordan Carson      M  11th  Huang High School
16          16      Donald Zamora      M   9th  Huang High School
17          17  Kimberly Santiago      F   9th  Huang High School

    reading_score  math_score  School ID      type  size   budget
1              94          61          0  District  2917  1910635
2              90          60          0  District  2917  1910635
4              97          84          0  District  2917  1910635
5              94          94          0  District  2917  1910635
6              82          80          0  District  2917  1910635
7              96          69          0  District  2917  1910635
8              95          87          0  District  2917  1910635
9              96          84          0  District  2917  1910635
10             90          70          0  District  2917  1910635
11             78          77          0  District  2917  1910635
13             71          79          0  District  2917  1910635
14             85          67          0  District  2917  1910635
15             94          88          0  District  2917  1910635
16             88          55          0  District  2917  1910635
17             74          75          0  District  2917  1910635

33610

In [21]:
#percentage
percentage_passed_reading = (number_students_reading_70_higher / total_students)*100
percentage_passed_reading

85.80546336482001

In [23]:
#final data frame
#Total Students
#Total Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#% Overall Passing Rate

final_data_table = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                "Total Budget":[budget_sum],
                                "Average Math Score":[average_math_score],
                                "Average Reading Score":[average_reading_score],
                                "% Passing Math":[percentage_passed_math],
                                "% Passing Reading":[percentage_passed_reading],
                                 "% Overall Passing Rate":[average_passing_rate],
                                })
final_data_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.